<div class="wrapper">
	<table class="table table-striped">
		<th class="col-xs-3"><%= Message.human_attribute_name(:from)%></th>
		<th class="col-xs-7"><%= Message.human_attribute_name(:subject)%></th>
		<th class="col-xs-2"><%= Message.human_attribute_name(:date)%></th>
		<%= render @messages %>
	</table>

	<div class="text-center">
		<div class="pagination">
			<%= will_paginate @messages, renderer: BootstrapPagination::Rails, previous_label: t('back'), next_label: t('next') %>
		</div>
	</div>
</div>