<div class='navbar navbar-inverse navbar-fixed-top'>
	<div class='container'>
		<% if user_signed_in? %>
			<%= link_to current_user.email, root_path, { class: "navbar-brand" } %>
		<% end %>

			<ul class='nav navbar-nav navbar-right'>
				<p class="navbar-text">
					<%= link_to_unless_current 'English', locale: 'en' %>
					<%= link_to_unless_current 'Русский', locale: 'ru' %>
			  </p>

				<% if user_signed_in? %>
					<li><%= link_to( t("devise.sign_out"), destroy_user_session_path, :method => :delete) %></li>
				<% end %>
				
				<% if user_signed_in? %>
					<li><p class="navbar-btn">
						<%= link_to t('refresh'), "#{root_path}?refresh=true", { id: 'refresh', class: "btn btn-primary" } %>
					</p></li>
				<% end %>
			</ul>

	</div> 
</div>