<!DOCTYPE html>
<html>
<head>
  <title>Mailbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<%= render partial: 'shared/menu' %>
	<% end %>

	<div class = "container">
		<%= render partial: "shared/flash_messages", flash: flash %> 
		<%= yield %>
	</div>

</body>
</html>
